<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="css">
  <style>
    "display: inline-block; margin: 0 5px;  float: right;"

    </style>
</th:block>
<div th:fragment="header">


  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">LOL</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03" style="display: inline-block; margin: 0 50px;  float: right;">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/board">게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/baduser">신고 게시판</a>
        </li>

        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/login">로그인</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" href="/logout">로그아웃</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/new">회원가입</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" href="/userboard">내글</a>
        </li>

      </ul>

    </div>
    <td sec:authentication="name" sec:authorize="isAuthenticated()"></td>
  </nav>
</div>

</html>